{% extends 'base.html' %}
{% load extras %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div class="titleheader">
  <h2>Current competitions</h2>
</div>

  <div id="tabs" class="ui-tabs">
    <ul class="tab">
   {% for comp in open_comps %}
      <li>
      <a href="#comp-{{ comp.pk }}"><span class="title">{{ comp.name }}</span>
      {% if comp.my_prediction %}
      <span class="summary-data">{{comp.my_prediction.current_position|ordinalise }} place 
{% if comp.my_prediction.abs_change_on_last_position %}<img class="change-arrow" src="{{ MEDIA_URL }}{{comp.my_prediction.direction_change}}.png" />
	 {{ comp.my_prediction.abs_change_on_last_position }}{% endif %}</span>
      {% else %}
       {% if comp.is_open %}
        <span class="summary-data">not entered</span>
       {% else %}
        <span class="summary-data">entry closed</span>
       {% endif %}
      {% endif %}
      </a>
      </li>
    {% endfor %}
    {% for comp in future_comps %}
      <li>
      <a href="#comp-{{ comp.pk }}"><span class="title">{{ comp.name }}</span>
      <span class="summary-data">entries open {{comp.start_date|naturalTimeDifferenceFuture}}</span>
      </a>
      </li>
    {% endfor %}
    </ul>

   {% for comp in open_comps %}
    <div class="competition container ui-tabs-hide" id="comp-{{ comp.pk }}">
      <div class="competition-text span-3 last">
      	<p>
      	 <em>What will the Premier League Table look like at the end of {{ comp.competition_date|date:"j F" }}?</em> The winner will be announced {{ comp.competition_date|naturalTimeDifferenceFuture }}{% if comp.upcoming_fixtures %}, after {{ comp.upcoming_fixtures.count }} fixtures are played{% endif %}.
	 {% if not comp.is_open %}
          <strong>Entry to this competition is now closed</strong>
         {% endif %}

      	</p>
	 {% if comp.is_open %} 
	 <p class="notice" style="margin-bottom:10px;">
 	 {% ifequal user.login_count 2 %}
          <strong>Welcome to WhatEverTrevor</strong>, a game about football.
	 {% endifequal %} 
	  {% if open_comps.count or future_comps.count %}
          This is the {{ comp.name }} game.  You
	  can change your selection as many times as you like right
	  until {{comp.close_date|date:"H:m"}} on
	  {{comp.competition_date|date:"j F" }}, but remember it's
	  the <strong>earliest correct selection</strong> that wins!
	  You can enter different games using the tabs above.  
	  {% endif %}
	  {% if settings.CLOSE_SEASON %}
	   Until the season starts, the points you're awarded are based
	   on how close your selection is to the close of last season.
	  {% endif %}
	 </p>  
         {% endif %}

	<div class="span-1">
      	{% if comp.my_prediction %}
      	  <img class="meter" width="100"  height="50" src="http://chart.apis.google.com/chart?chs=100x50&cht=gom&chd=t:{{comp.my_prediction.current_position|googleometerpos:comp.my_prediction.competition.prediction_set.count}}" />
      	  <span class="current-notice">Overall, you're currently {{comp.my_prediction.current_position|ordinalise }} out of {{ comp.my_prediction.competition.prediction_set.count }} players.</span> 
      	{% else %}
      	  <div class="meter">&nbsp;</div><span class="current-notice">{{ comp.prediction_set.count }} {% ifequal comp.prediction_set.count 1 %}person is{% else %}people are{% endifequal %} currently playing this game.</span> 
      	{% endif %}
      	{% if comp.is_open %}
      	    <p>Entries close <strong>{{ comp.close_date|naturalTimeDifferenceFuture }}</strong> at exactly {{comp.close_date|date:"H:m"}}.</p>
	    {% if comp.my_prediction %}
             <p>You've got until then to <br /><a class="primary button change-selection" href="{% url make_prediction competition=comp.pk %}">change your selection</a></p>
	    {% else %}
             <p>You've got until then to <a class="primary button change-selection" href="{% url make_prediction competition=comp.pk %}">enter</a></p>
	    {% endif %}
	    <p>You can change your selection as many times as you like, but remember it's the <strong>earliest correct selection</strong> that wins!</p>
      	{% else %}
      		 <p><strong>This competition is closed for entries.</strong></p>
      	{% endif %}
        </div>
	<div class="span-2 last">
	{% if comp.my_prediction %}
         <div class="league-table">
          <h3>Your position {% if request.user.get_facebook_friends.count %}against your friends{% endif %}
</h3>
	  {% if not request.user.get_facebook_friends.count %}
	  <p><a href="{% url facebookinvite %}">Invite your friends to play Whatever Trevor via Facebook</a>, and you can compare yourself to them here!</p>
	  {% endif %}
          <table class="league-table">
           <tr>
            <th>Pos</th>
            <th>Pts</th>
            <th>GD</th>
            <th>Entered</th>
            <th>Who</th>
           </tr>
	  {% if request.user.get_facebook_friends.count %}
           {% for p in comp.my_prediction.in_facebook_context_with_rank %}
            <tr class="{% cycle 'odd' 'even' %}{% ifequal p.user request.user %} myrow{% endifequal %}">
              <td>{{ p.rank }} {% if p.abs_change_on_last_position %}<span class="change"><img src="{{ MEDIA_URL }}{{p.direction_change}}.png" />{{ p.abs_change_on_last_position }}</span>{% endif %}
        </td>
              <td>{{ p.score }}</td>
              <td>{{ p.goaldiff }}</td>
              <td>{{ p.edited_date|date:"d/m/y" }}</td>
              <td class="profilepic"><img src="http://graph.facebook.com/{{p.user.facebookuser.get.uid}}/picture" /><br />{{ p.user.display_name }}</td>
            </tr>
           {% endfor %}
          {% else %}
           {% for p in comp.my_prediction.in_context_with_rank %}
            <tr class="{% cycle 'odd' 'even' %}{% ifequal p.user request.user %} myrow{% endifequal %}">
              <td>{{ p.rank }} {% if p.abs_change_on_last_position %}<span class="change"><img src="{{ MEDIA_URL }}{{p.direction_change}}.png" />{{ p.abs_change_on_last_position }}</span>{% endif %}
        </td>
              <td>{{ p.score }}</td>
              <td>{{ p.goaldiff }}</td>
              <td>{{ p.edited_date|date:"d/m/y" }}</td>
              <td>{{ p.user.display_name }}</td>
            </tr>
           {% endfor %}
	  {% endif %}
          </table>
         <p><a href="{% url table competition=comp.pk %}">See full table</a></p>
        </div>    
	{% else %}
         {% if comp.top_predictions %}
          <div class="league-table">
           <h3>Leaderboard</h3>
           <table class="league-table">
            <tr>
             <th>Pos</th>
             <th>Pts</th>
             <th>GD</th>
             <th>Entered</th>
             <th>Who</th>
            </tr>
           {% for p in comp.top_predictions %}
            <tr class="{% cycle 'odd' 'even' %}{% ifequal p.user request.user %} myrow{% endifequal %}">
              <td>{{ p.current_position }} {% if p.abs_change_on_last_position %}<span class="change"><img src="{{ MEDIA_URL }}{{p.direction_change}}.png" />{{ p.abs_change_on_last_position }}</span>{% endif %}
        </td>
              <td>{{ p.score }}</td>
              <td>{{ p.goaldiff }}</td>
              <td>{{ p.edited_date|date:"d/m/y" }}</td>
              <td>{{ p.user.display_name }}</td>
            </tr>
           {% endfor %}
           </table>
          <p><a href="{% url table competition=comp.pk %}">See full table</a></p>
         </div>    
         {% endif %}
	{% endif %}
	</div>
	

      </div>
      <div class="actions clearfix">
       {% if comp.is_open %}
       {% else %}
        <strong>Entry to this competition is now closed</strong>
       {% endif %}
         <a class="button" href="{{ comp.get_absolute_url }}">View stats</a>
     </div>
   </div>
   {% endfor %}
   {% for comp in future_comps %}
    <div class="competition container" id="comp-{{ comp.pk }}">
      <div class="competition-text span-3 last">
      	<p>
      	 <em>What will the Premiership look like at the end of {{ comp.competition_date|date:"d F" }}?</em>
	 {% if comp.prize %}<h1>{{ comp.prize }}</h1>{% endif %}
	 <p class="notice" style="margin-bottom:10px;">
	  Entry to this competition opens on {{ comp.start_date|date:"d F" }}.
	  {{ comp.teaser }}
	 </p>  
	 </p>
      </div>
    </div>
   {% endfor %}
  </div>
{% endblock %}


