{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div class="titleheader">&nbsp;</div>

<div class="span-3">
 <div class="panel">
 <h2>Register your selection</h2>
  {% if form.non_field_errors %}
   <div class="error">{{ form.non_field_errors }}</div>
  {% endif %}

  <form action="" method="post" id="signup">
  <table id="join-form">
  {{ form.as_table }}
  <tr>
   <td></td>
   <td><input type="submit" value="Register" class="bigsubmit" /><br/>
     <p>By registering you are agreeing to our <a href="/terms/">terms and conditions</a></p>
   </td>
  </tr>
  </table>
  </form>

<!--  <fb:login-button v="2" size="xlarge" onlogin="window.location.reload(true);">Login with Facebook</fb:login-button> -->
 </div>
</div>

{% endblock %}


{% block fbjs %}
 FB_RequireFeatures(["XFBML"], function() {
  FB.init("{{ settings.FACEBOOK_API_KEY }}", "/xd_receiver.htm");
  FB.Facebook.get_sessionState().waitUntilReady(function() {
    //alert(1);
    //FB.Connect.ifUserConnected('/home', null);
  });
});
{% endblock %}
